<section>
    <div class="item-1">
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" [formControl]="NameCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>LastName</mat-label>
                <input type="text" [formControl]="LastNameCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>NationalId</mat-label>
                <input type="email" [formControl]="NationalIdCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" [formControl]="PasswordCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ConfirmPassword</mat-label>
                <input type="Password" [formControl]="ConfirmPasswordCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <input type="text" [formControl]="GenderCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>country</mat-label>
                <input type="text" [formControl]="CountryCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input type="text" [formControl]="CityCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>SkillLevel</mat-label>
                <input type="text" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input type="number" [formControl]="AgeCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>DataOfBirth</mat-label>
                <input type="text" [formControl]="DatOfBirthCtrl" matInput>
            </mat-form-field>

            <button routerLink="/members"
            (click)="register()"
            mat-flat-button
            color="parimary"
            [disabled]="registerFg.invalid"></button>
        </form>
    </div>
</section>