<section>
    <div class="item-1">
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" [formControl]="EmailCtrl" matInput>
            </mat-form-field>


        </form>
    </div>
</section>